/* Show it is fixed to the top */
@font-face {
	font-family: 'Museo 300';
	font-style: normal;
	font-weight: normal;
	src: local('Museo 300'), url('Museo300-Regular.woff') format('woff');
}


@font-face {
	font-family: 'Museo 700';
	font-style: normal;
	font-weight: normal;
	src: local('Museo 700'), url('Museo700-Regular.woff') format('woff');
}


body {
	min-height: 75rem;
	font-family: 'Museo 300';
	font-weight: normal;
}

strong {
	font-family: 'Museo 700';
	font-weight: normal;
}

img {
	max-width: 100%;
}

.header {
	background: #d1bda1;
	color: #42453c;
	padding: 70px 0 75px 0;
}

.header .logo {
	text-align: center;
}

.header .texto {
	text-align: center;
}

.header h1 {
	font-size: 1.688rem;
	font-family: 'Museo 700';
	font-weight: normal;
	margin-bottom: 20px;
}

.header h2 {
	font-size: 1.563rem;
	line-height: 20px;

}

.header h2 span {
	font-size: 1.06rem
}

.header h3 {
	font-size: 1.25rem;
}

.header a.botao {
	background: #a5674f;
	color: #FFFFFF;
	font-size: 1.438rem;
	height: 60px;
	padding: 12px 35px;
	width: 320px;
	display: block;
	margin-top: 30px;
	text-align: center;
	margin: 20px auto;
	min-height: 60px;
	text-decoration: none;
	border-radius: 40px;
	-webkit-box-shadow: 0px 3px 15px -1px #555555;
	box-shadow: 0px 3px 15px -1px #555555;
	font-family: 'Museo 700';
	font-weight: normal;
}

.header .photo {
	margin-bottom: 20px;

}



.sobre {
	background: #2e3a4a;
	color: #aeb1b5;
	font-size: 1.313rem;
	padding: 50px 0 40px 0;
	text-align: center;
	display: flex;
}

.especialidades {
	text-align: center;
	display: flex;
}

.especialidades .um {
	background: #bf8148;
	padding: 30px 30px 40px 30px;
	min-width: 100%;
	height: 100%;
	flex: 1;
}

.especialidades .dois {
	background: #bb9d91;
	padding: 30px 30px 40px 30px;
	min-width: 100%;
	height: 100%;
	flex: 2;
}

.especialidades .tres {
	background: #a56750;
	padding: 30px 30px 40px 30px;
	min-width: 100%;
	height: 100%;
	flex: 3;
}

.especialidades .quatro {
	background: #a0958b;
	padding: 30px 30px 40px 30px;
	min-width: 100%;
	height: 100%;
	flex: 4;
}

.especialidades h2 {
	color: #FFFFFF;
	font-size: 1.875rem;
	margin-bottom: 25px;
}

.especialidades h3 {
	color: #FFFFFF;
	font-size: 1.063rem;
	margin-bottom: 20px;
}

.especialidades span {
	color: #FFFFFF;
	font-size: 1.063rem;
}

.consulta {
	background: #d1bda1;
	padding: 60px;
}

.consulta h3 {
	color: #42453c;
	font-size: 1.813rem;
	text-align: center;
	margin-bottom: 30px;
	font-family: 'Museo 700';
	font-weight: normal;
}

.consulta h3:first-of-type {
	margin-top: 60px;
}

.consulta span {
	color: #42453c;
	display: block;
	font-size: 1rem;
	text-align: center;
}

.consulta span:first-of-type {
	margin-bottom: 50px;
}

.consulta .primeira{
	padding-right: 25px;
}

.contato {
	background: #2e3a4a;
	color: #aeb1b5;
	padding: 60px 0 50px 0;
}

.contato .primeira,
.contato .segunda,
.contato .terceira {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
}

.contato .primeira span {
	font-size: 1.375rem;
}

.contato .primeira ul {
	display: flex;
	list-style: none;
	padding: 0;
}

.contato .primeira ul li {
	padding-right: 10px;
}

.contato .primeira ul li:last-of-type {
	padding-right: 0;
}

.contato .terceira {
	justify-content: flex-start;
	margin-top: 20px;
	position: relative;
}

.contato .terceira ul {
	display: flex;
	list-style: none;
	padding: 0;
	flex-direction: column;
	margin-left: 10px;
	justify-content: flex-end;
}

.contato .terceira ul.redes {
	flex-direction: row;
	float: right;
	position: absolute;
	right: 0;
}

.contato .terceira ul li {
	padding-right: 10px;
}

.contato .terceira ul li:last-of-type {
	padding-right: 0;
}

.contato iframe {
	border-radius: 5px;
}

.owl-carousel button.owl-dot {
	/* background: 0 0; */
	color: inherit;
	border: none;
	padding: 10px 20px !important;
	font: inherit;
	color: #000000 !important;
	height: 20px;
	width: 20px;
	background: transparent;
}


.owl-dots span {
	color: #FFFFFF;
	background: #000000 !important;
	height: 20px !important;
	width: 20px !important;
	float: left;
	border-radius: 20px;
}

.owl-carousel button.owl-dot.active span {
	color: #FFFFFF !important;
	border: 1px solid #000000;
	background: #FFFFFF !important;
}


footer {
	background: #1e2631;
	color: #616467;
	font-size: 0.813rem;
	height: 45px;
	line-height: 45px;
	text-align: center;
}

.owl-carousel {
	padding: 0;
	background-color: #d1bda1;
}

.owl-carousel .owl-item img {
	display: block;
	width: 77px;
	max-width: 100%;
	margin: 0 auto;
}

.owl-carousel .owl-stage {
	display: flex;
}

.owl-dot {
	opacity: 0.5;
	margin-top: 69px
}

@media only screen and (max-width: 767px) {
	.header .texto {
		text-align: center;
		margin-top: 40px;
	}

	.sobre .primeira {
		order: 2;
	}

	.sobre .segunda {
		order: 1;
	}

	.especialidades .um,
	.especialidades .dois,
	.especialidades .tres,
	.especialidades .quatro {
		height: 707.8px;
		min-height: 707.8px;
	}

	.consulta {
		background: #d1bda1;
		padding: 0px 0 50px 0;
	}

	.consulta span:first-of-type {
		margin-bottom: 161px;
	}

	.consulta .primeira {
		margin-bottom: 50px;
	}

	.contato .terceira img.raminho {
		width: 65px;
	}

	.contato .terceira ul {
		display: flex;
		list-style: none;
		padding: 0;
		flex-direction: column;
		margin-left: 10px;
		justify-content: flex-end;
		margin-top: 25px;
	}

	.contato .terceira ul.redes {
		flex-direction: row;
		float: right;
		position: absolute;
		right: 12px;
		top: -33px;
	}

	.contato .terceira ul li {
		padding-right: 10px;
		font-size: 0.85rem;
	}

	footer {
		background: #1e2631;
		color: #616467;
		font-size: 0.65rem;
		height: 45px;
		line-height: 45px;
		text-align: center;
	}
}
